<h2>Cadastrar livro</h2>

<form action="/register/save"method= "POST">
    <div>
        <label for="name">Titulo:</label>
        <input type="text" name="name" placeholder = "Digite aqui o nome livro" id="name">
    </div>
    <div>
        <label for="pageqty">Numero de Paginas</label>
        <input type="number" name="pageqty" planeholder="Quantas paginas tem o livro?" id="pageqty">
    </div>

    <button type="submit">Cadastrar</button>
</form>